<!-- NAVBAR INIT -->

<nav class="navbar navbar-expand-sm navbar-dark  bg-dark " id="navbar">
    <a href="#!/" class="navbar-brand">
    <img src="../img/m-64.png" alt="" class="">
    <h4 class=" d-inline align-middle">Moises Miguel</h4>
    </a>

    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse " id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a href="#navbarNav" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
                <a href="#skills" class="nav-link">Skills</a>
            </li>
            <li class="nav-item">
                <a href="#projects" class="nav-link ">Projects</a>
            </li>
            <li class="nav-item">
                <button class="nav-link bg-dark" style="border:none;" data-toggle="modal" data-target="#myModal">Connect</button>
            </li>
        </ul>
    </div>
</nav>






<nav class="navbar navbar-expand-sm  fixed-top" id="navbar2" >
    <a href="#navbarNav" class="navbar-brand">
    <img src="../img/m-64.png" alt="" class="">
    
    </a>

    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse " id="navbarNav">
    </div>
</nav>

<!-- HEADER -->
<section id="header">
    <div class="container">

        <div class="row d-none d-md-inline">
            <div class="container">
                <div class="col-md-12">
                    <div class="input-group mt-5 " id="inverse">
                        <div class="input-group-addon bg-dark text-white "><i class="fas fa-sun"></i>  Inverse</div>
                        <input id="toggle-one" type="checkbox"   class="btn btn-dark text-white" >
                    </div> 
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 header-text text-white">
                <h1 class=" intro-text"><strong>Full Stack Software Developer</strong></h1>
                <p class="lead intro-text mb-3 ">
                    Based out of the Greater Minneapolis-St. Paul Area. Specializing in custom Full Stack Web Development.
                    If you are interested in a better web presence or an employer looking to hire, Please feel free to connect with me.
                </p>
                <div class="mt-3">
                    <a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLScV6mVUiXkRNGj9DUEuG56ZK9UobXDzkHSaWpAjv2e1558kIQ/viewform" class="btn btn-outline-secondary  d-md-inline d-sm-block"> Build Me A Website</a>
                    <a href="" class="btn btn-outline-danger  d-md-inline d-sm-block mt-3" data-toggle="modal" data-target="#myModal">I am looking to connect</a>
                </div>
                <h2 class="text-center mt-5" ><i class="fas fa-arrow-circle-down" ></i></h2>
            </div>
        </div>
    </div>
</section>


<!-- SKILLS -->

<section id="skills" class="p-5 my-5">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h1 id="skills-header">Skills</h1>
            </div>
            <div class="col-md-3 ">
                <h4><strong>Languages</strong></h4>
                <p>JavaScript ES6</p>
                <p>HTML</p>
                <p>CSS/Sass</p>
                <p>Python</p>
                <p>PostgreSQL</p>
            </div>
            <div class="col-md-3">
                <h4><strong>Frameworks</strong></h4>
                <p>Reactjs/Redux</p>
                <p>Node </p>
                <p>Angularjs</p>
                <p>SQLAlchemy</p>
            </div>
            <div class="col-md-3">
                <h4><strong>Tools</strong></h4>
                <p>Postman</p>
                <p>Chrome Dev Tools </p>
                <p>Gulp</p>
                <p>MongoDB</p>
                <p>Bootstrap</p>
                <p>jQuery</p>
            </div>
        </div>
    </div>
</section>


<!-- PROJECTS -->
<section id="projects" class="py-5 my-5">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h1>Featured Themes</h1>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-md-9" id="glozzom">
                <img src="../img/glozzom.jpg" alt="" class="img-fluid">
            </div>
            <div class="col-md-3 mt-1">
                <a target="_blank" href="https://glozzomtheme.herokuapp.com/">
                    <h2>Glozzom</h2>
                </a>
                <p class="text-muted">
                    Glozzom is an elegant and clean business oriented website focused on a professional and fresh presentation designed to catch the clients eye and keep them interested through out their entire experience.
                </p>
                <a target="_blank" href="https://glozzomtheme.herokuapp.com/" class="btn btn-outline-primary d-block"><i class="fas fa-eye"></i> Visit</a>
                <a target="_blank" href="https://github.com/moiscmigu/Glozzom-Template" class="btn btn-outline-info d-block mt-3"><i class="fab fa-github"></i> Source Code</a>
            </div>
        </div>
        
        <div class="row mt-5">
            <div class="col-md-9" id="looplab">
                <img src="../img/loop-lap.jpg" alt="" class="img-fluid">
            </div>
            <div class="col-md-3 mt-1">
                <a target="_blank" href="https://looplabtheme.herokuapp.com/">
                    <h2>LoopLAB</h2>    
                </a>
                <p class="text-muted">
                        LoopLab is a smooth and straightforward online presence where the company can offer information about themselves. It also gives the user the opportunity to sign up and keep in touch with the website and the events that might develop.
                </p>
                <a target="_blank" href="https://looplabtheme.herokuapp.com/" class="btn btn-outline-primary d-block"><i class="fas fa-eye"></i> Visit</a>
                <a target="_blank" href="https://github.com/moiscmigu/LoopLAB-Template" class="btn btn-outline-info d-block mt-3"><i class="fab fa-github"></i> Source Code</a>
            </div>
        </div>
        
        <div class="row mt-5">
            <div class="col-md-9" id="discovermn">
                <img src="../img/discover.jpg" alt="" class="img-fluid">
            </div>
            <div class="col-md-3 mt-1">
                <a target="_blank" href="https://discovermn.herokuapp.com/#!/">
                    <h2>Discover MN</h2>
                </a>
                <p class="text-muted">
                        Discover MN is a full stack application that offers the user information about the culture of Minnesota and exposure to some activities that Minnesota is known for. Users can also see events happening near them with events occurring two weeks from the present time.
                </p>
                <a target="_blank" href="https://discovermn.herokuapp.com/#!/" class="btn btn-outline-primary d-block"><i class="fas fa-eye"></i> Visit</a>
                <a target="_blank" href="https://github.com/moiscmigu/Discover-MN" class="btn btn-outline-info d-block mt-3"><i class="fab fa-github"></i> Source Code</a>
            </div>
        </div>
        
        <div class="row mt-5 ">
            <div class="col-md-9">
                <img src="../img/blogen.jpg" alt="" class="img-fluid">
            </div>
            <div class="col-md-3 mt-1">
                <a target="_blank" href="https://blogentemplate.herokuapp.com/">
                    <h2>Blogen</h2>
                </a>
                <p class="text-muted">
                        Blogen is a complex Blog theme that makes it easier for the user to be able to sign up and post blogs. Users can easily detect Date Posted, Category and Details about their recent post and more.
                </p>
                <a target="_blank" href="https://blogentemplate.herokuapp.com/" class="btn btn-outline-primary d-block"><i class="fas fa-eye"></i> Visit</a>
                <a target="_blank" href="https://github.com/moiscmigu/Blogen" class="btn btn-outline-info d-block mt-3"><i class="fab fa-github"></i> Source Code</a>
            </div>
        </div>
        <div class="row mt-5 ">
            <div class="col-md-9">
                <img src="../img/mizuxes.jpg" alt="" class="img-fluid">
            </div>
            <div class="col-md-3 mt-1">
                <a target="_blank" href="https://blogentemplate.herokuapp.com/">
                    <h2>Mizuxe</h2>
                </a>
                <p class="text-muted">
                        Mizuxes is an informational commercial website that displays info about a particular object, In this case, it displays details about a book with information about the contributors. It gives the user the opportunity to sign up for upcoming news as well as a way to contact the author.
                </p>
                <a target="_blank" href="https://mizuxes.herokuapp.com/" class="btn btn-outline-primary d-block"><i class="fas fa-eye"></i> Visit</a>
                <a target="_blank" href="https://github.com/moiscmigu/Mizuxes-Template" class="btn btn-outline-info d-block mt-3"><i class="fab fa-github"></i> Source Code</a>
            </div>
        </div>
    </div>
</section>


<section id="more-projects" class="p-5 my-5">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h1 id="skills-header">Full Stack Projects <i class="fa fa-arrow-circle-right"></i></h1>
            </div>
            <div class="col-md-9">
                <a href="https://github.com/animalonthedrum/GUSU2CURE">
                    <h4><strong>GetUP StandUP</strong></h4>
                </a>
                
                <p class="text-muted">
                        The founder of Getup Standup(GUSU) Robert Wudlick gave me and my team members an opportunity to build an application that would eliminate the time consuming and labor intensive paper work that goes into signing up new members. We built an app that helped new members signup to GUSU. Users are recently disabled spinal cord injury patients. Users are able to input their information(Who they are, Injury type, hobbies) in which the app goes through an algorithm that matches them to the best mentor according to their registration information.
                </p>
            </div>
            <div class="col-md-9 ml-auto mt-5">
                <a href="https://garage-share.herokuapp.com/#!/">
                    <h4><strong>GarageShare</strong></h4>
                </a>
                
                <p class="text-muted">
                    GarageShare(GS) is my first Full-Stack web App that I build with MEAN STACK. GS is for people that want to rent equipment(ex: bike, skateboard, fishing rod, etc..) from the people in their community. Users can also post equipment. They need to provide a picture with a quick description along with how much they would like per: day, week or month. GS is the cheaper route to renting equipment. Users save money by being able to avoid the hundreds of dollars that they would have spent by going to a store. The beauty of GS is that users only see results that are in their city or nearby. Once a user finds an item they can send a message straight to the renter’s phone number. 
                </p>
            </div>
            <div class="col-md-9 ml-auto mt-5">
                <a href="https://voting-app-mm.herokuapp.com/">
                    <h4><strong>Voting App</strong></h4>
                </a>
                
                <p class="text-muted">
                        One of my first projects that I have built in Reactjs/Redux. Users can post a Voting session in which they provide a title and however many Categories they choose. Once the voting session is created,  the app gives a 4 digit token in which they can share. Users are limited to voting once per session and votes are disabled once session expires(24hrs). Mobile and Desktop UI.
                </p>
            </div>
        </div>
    </div>
</section>




<!-- FOOTER -->

<footer id="contact" class="mt-5 mb-0 bg-light p-5">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h5 class="bold">Designed & Developed By Moises Miguel © 2018</h5>
            </div>
            <div class="col-md-9 text-center">
                <a href="" class="" data-toggle="modal" data-target="#myModal"><strong><i class="fa fa-comments" ></i> Connect</strong></a>
                <a href="https://www.instagram.com/moisemiguel16/" class="ml-4"><strong><i class="fab fa-instagram"></i> Instagram</strong></a>
                <a href="https://www.linkedin.com/in/moisesmiguel/" class="ml-4"><strong><i class="fab fa-linkedin"></i> LinkedIn</strong></a>
                <a href="mailto:moisesmigueledu@gmail.com@" class="ml-4"><strong><i class="fas fa-envelope-square" ></i> Email</strong></a>
                <a href="https://github.com/moiscmigu" class="ml-4"><strong><i class="fab fa-github"></i> Github</strong></a>
            </div>
        </div>
    </div>
</footer>


<!-- FLOATING PRINT RESUME SECTION -->

<section id="contact-float" class="resume navbar-fixed-bottom">
    <div class="container">
        <div class="row">
            <div class="col">
                <a href="../web/viewer.html?file=Resume.pdf" class="btn btn-primary btn-small mb-3 p-3 float-right"><i class="fa fa-file"></i>  View Resume</a>
            </div>
        </div>
    </div>
</section>


<!-- The Modal -->
<div class="modal fade" id="myModal">
        <div class="modal-dialog">
          <div class="modal-content">
      
            <!-- Modal Header -->
            <div class="modal-header text-center">
              <h4 class="modal-title ">Connect With Me</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
      
            <!-- Modal body -->
            <div class="modal-body">
              <div class="container">
                  <div class="row ">
                      <div class="col">
                          <form >
                            <input required type="text" class="form-control mb-2" placeholder="Name" ng-model="hc.name">
                            <input required type="email" class="form-control mb-2" placeholder="Email" ng-model="hc.email">
                            <textarea required name="" id="" cols="30" rows="10" class="form-control mb-3" placeholder="Message..." ng-model="hc.message"></textarea>
                            <button class="btn btn-outline-danger form-control" ng-click="hc.send()"><i class="far fa-paper-plane"></i> Send</button>
                          </form>
                        
                      </div>
                  </div>
              </div>
            </div>
      
            <!-- Modal footer -->
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
      
          </div>
        </div>
      </div>


<script>
    $(document).ready(function () {
        
        $(function() {
            $('#toggle-one').bootstrapToggle();
        });



        let inverse = true;

        $('#navbar2').hide();
        $(".intro-text").hide();
        $(".intro-text").fadeIn("slow");

        //inverses colors
        $("#inverse").on("click", () => {

            if (inverse) {
                inverse = false;
                $("body").css({
                "filter": "invert(100%)"
                })
            }
            else {
                inverse = true;
                $("body").css({
                "filter": "invert(0%)"
                })
            }

           
        });

        //toggles navbar when out of header
        $(window).scroll(function () {
        if ($(this).scrollTop() >= 700) {
            $('#navbar').hide();
            $('#navbar2').fadeIn();
        } else {
            $('#navbar2').hide();
            $('#navbar').show();
        }
        });




    })
</script>