<!-- NAVBAR INIT -->

<nav class="navbar navbar-expand-sm navbar-dark  bg-dark " id="navbar">
    <a href="#!/" class="navbar-brand">
        <img src="../img/m-64.png" alt="" class="">
        <h4 class=" d-inline align-middle">Moises Miguel</h4>
    </a>

    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav"><span
            class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse " id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a href="#navbarNav" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
                <a href="#skills" class="nav-link">Skills</a>
            </li>
            <li class="nav-item">
                <a href="#projects" class="nav-link ">Projects</a>
            </li>
            <!-- <li class="nav-item">
                <button class="nav-link bg-dark" style="border:none;" data-toggle="modal"
                    data-target="#myModal">Connect</button>
            </li> -->
        </ul>
    </div>
</nav>






<nav class="navbar navbar-expand-sm  fixed-top" id="navbar2">
    <a href="#navbarNav" class="navbar-brand">
        <img src="../img/m-64.png" alt="" class="">

    </a>

    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav"><span
            class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse " id="navbarNav">
    </div>
</nav>

<!-- HEADER -->
<section id="header">
    <div class="container">

        <div class="row d-none d-md-inline">
            <div class="container">
                <div class="col-md-12">
                    <div class="input-group mt-5 " id="inverse">
                        <div class="input-group-addon bg-dark text-white "><i class="fas fa-sun"></i> Inverse</div>
                        <input id="toggle-one" type="checkbox" class="btn btn-dark text-white">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 header-text text-white">
                <h1 class=" intro-text"><strong>Full Stack Software Developer</strong></h1>
                <p class="lead intro-text mb-3 " style="font-weight: 700;">
                    Based out of the Greater Minneapolis-St. Paul Area. Specializing in custom Full Stack Web
                    Development.
                    If you are interested in a better web presence or an employer looking to hire, Please feel free to
                    connect with me.
                </p>
                <div class="mt-3">
                    <a target="_blank" href="../web/viewer.html?file=Resume.pdf"
                        class="btn btn-outline-secondary  d-md-inline d-sm-block"> View Resume</a>
                    <a href="mailto:moisesmigueledu@gmail.com"
                        class="btn btn-outline-danger  d-md-inline d-sm-block ">Connect with me</a>
                </div>
                <h2 class="text-center mt-5"><i class="fas fa-arrow-circle-down"></i></h2>
            </div>
        </div>
    </div>
</section>
<!-- href="../web/viewer.html?file=Resume.pdf" -->

<!-- SKILLS -->

<section id="skills" class="p-5 my-5">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h1 id="skills-header">Skills</h1>
            </div>
            <div class="col-md-3  ">
                <h4 class="mb-md-2"><strong>Angular 2+</strong></h4>
                <p>AngularJS</p>
                <p>HTML5/CSS3</p>
                <p>SASS</p>
                <p>Bootstrap 4</p>
                <p>PostgreSQL</p>
                <p>JQuery</p>
            </div>
            <div class="col-md-3 ">
                <h4 class="mb-md-2"><strong>NodeJS</strong></h4>
                <p>TypeScript</p>
                <p>NPM </p>
                <p>Express</p>
                <p>Jasmine</p>
                <p>Heroku</p>
            </div>
            <div class="col-md-3 ">
                <h4 class="mb-md-2"><strong>Firebase</strong></h4>
                <p>MongoDB</p>
                <p>Postman</p>
                <p>Chrome Dev Tools</p>
                <p>GIT</p>
                <p>Gulp</p>
            </div>
        </div>
    </div>
</section>


<!-- PROJECTS -->
<section id="projects" class="py-5 my-5">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h1>Featured Projects</h1>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-md-9" id="glozzom">
                <img src="../img/favr-port.png" alt="" class="img-fluid">
            </div>
            <div class="col-md-3 mt-1">
                <a target="_blank" href="https://www.askfavr.com/">
                    <h2>ASKFAVR</h2>
                </a>
                <p class="text-muted">
                    AskFavr is a startup company from Rochester MN that connects freelance workers with people in their
                    community. Favr provides services like home chores, lawn maintenance, moving, etc. Workers are
                    usually full-time students that would like to make money on the side.
                </p>
                <a target="_blank" href="https://www.askfavr.com/" class="btn btn-outline-primary d-block"><i
                        class="fas fa-eye"></i> Visit</a>
                <!-- <a target="_blank" href="https://github.com/moiscmigu/Glozzom-Template"
                    class="btn btn-outline-info d-block mt-3"><i class="fab fa-github"></i> Source Code</a> -->
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-md-9" id="looplab">
                <img src="../img/lap-ipad.png" alt="" class="img-fluid">
            </div>
            <div class="col-md-3 mt-1">
                <a target="_blank" href="https://onsnip2.firebaseapp.com/">
                    <h2>ONSNIP2</h2>
                </a>
                <p class="text-muted">
                    OnSnip2 is a 3rd party Spotify dashboard that displays user's information about their favorite
                    artist, playlist, and tracks in a dark-themed responsive UI.
                </p>
                <a target="_blank" href="https://onsnip2.firebaseapp.com/" class="btn btn-outline-primary d-block"><i
                        class="fas fa-eye"></i> Visit</a>
                <a target="_blank" href="https://github.com/moimigueldev/onsnip2"
                    class="btn btn-outline-info d-block mt-3"><i class="fab fa-github"></i> Source Code</a>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-md-9" id="discovermn">
                <img src="../img/discover.jpg" alt="" class="img-fluid">
            </div>
            <div class="col-md-3 mt-1">
                <a target="_blank" href="https://discover-mn.firebaseapp.com/#/">
                    <h2>Discover MN</h2>
                </a>
                <p class="text-muted">
                    Discover MN is a full-stack application that offers visitors information about Minnesotan culture
                    and exposure to some attractions that Minnesota is known for. Users can also see events happening
                    near them with events occurring two weeks from the present time.
                </p>
                <a target="_blank" href="https://discover-mn.firebaseapp.com/#/"
                    class="btn btn-outline-primary d-block"><i class="fas fa-eye"></i> Visit</a>
                <a target="_blank" href="https://github.com/moimigueldev/discover-mn"
                    class="btn btn-outline-info d-block mt-3"><i class="fab fa-github"></i> Source Code</a>
            </div>
        </div>

        <div class="row mt-5 ">
            <div class="col-md-9">
                <img src="../img/3-phones.png" alt="" class="img-fluid">
            </div>
            <div class="col-md-3 mt-1">
                <a target="_blank" href="https://briskmm.herokuapp.com">
                    <h2>Brisk</h2>
                </a>
                <p class="text-muted">
                    Brisk is a full-stack web app that allows visitors to search for the weekly weather and analytics
                    provided by zipcode. Users can save locations to their dashboards.
                </p>
                <a target="_blank" href="https://briskmm.herokuapp.com" class="btn btn-outline-primary d-block"><i
                        class="fas fa-eye"></i> Visit</a>
                <a target="_blank" href="https://github.com/moimigueldev/brisk"
                    class="btn btn-outline-info d-block mt-3"><i class="fab fa-github"></i> Source Code</a>
            </div>
        </div>
        <!-- <div class="row mt-5 ">
            <div class="col-md-9">
                <img src="../img/mizuxes.jpg" alt="" class="img-fluid">
            </div>
            <div class="col-md-3 mt-1">
                <a target="_blank" href="https://fasttype-c3b85.firebaseapp.com/">
                    <h2>Mizuxe</h2>
                </a>
                <p class="text-muted">
                    FastType is a kid's interactive speed typing game with a live leaderboard. Kids are given a simple
                    word to spell under five seconds. If a kid gets on the top five, the leaderboards get updated live
                    with their name and score.
                </p>
                <a target="_blank" href="https://fasttype-c3b85.firebaseapp.com/"
                    class="btn btn-outline-primary d-block"><i class="fas fa-eye"></i> Visit</a>
                <a target="_blank" href="https://github.com/moimigueldev/fast-type"
                    class="btn btn-outline-info d-block mt-3"><i class="fab fa-github"></i> Source Code</a>
            </div>
        </div> -->
    </div>
</section>


<section id="more-projects" class="p-5 my-5">
    <div class="container">
        <div class="row" style="text-align: center;">
            <div class="col-md-3">
                <h1 id="skills-header">FULL RESPONSIVE WEB APP TEMPLATES<i class="fa fa-arrow-circle-right"></i></h1>
            </div>
            <div class="col-md-9">
                <a href="https://glozzommm.herokuapp.com/" class="mb-3 d-md-inline-block mx-2 text-center">
                    <h4><strong>Glozzom</strong></h4>
                </a>
                <a href="https://blogenmm.herokuapp.com/" class="mb-3 d-md-inline-block mx-2 text-center">
                    <h4><strong>Bloggen</strong></h4>
                </a>
                <a href="https://looplabmm.herokuapp.com/" class="mb-3 d-md-inline-block mx-2 text-center">
                    <h4><strong>LoopLab</strong></h4>
                </a>
                <a href="https://mizuxesmm.herokuapp.com/" class="mb-3 d-md-inline-block mx-2 text-center">
                    <h4><strong>Mizuxes</strong></h4>
                </a>

            </div>

        </div>
    </div>
</section>




<!-- FOOTER -->

<footer id="contact" class="mt-5 mb-0 bg-light p-5">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h5 class="bold">Designed & Developed By Moises Miguel © 2018</h5>
            </div>
            <div class="col-md-9 text-center">
                <a href="mailto:moisesmigueledu@gmail.com" class=""><strong><i class="fa fa-comments"></i>
                        Connect</strong></a>
                <a href="https://www.instagram.com/moisemiguel16/" class="ml-4"><strong><i class="fab fa-instagram"></i>
                        Instagram</strong></a>
                <!-- <a href="https://www.linkedin.com/in/moisesmiguel/" class="ml-4"><strong><i class="fab fa-linkedin"></i>
                        LinkedIn</strong></a> -->
                <a href="https://www.codewars.com/users/moiscmigu90" class="ml-4"><strong><i class="fas fa-code"></i>
                        Codewars</strong></a>
                <a href="https://github.com/moimigueldev" class="ml-4"><strong><i class="fab fa-github"></i>
                        Github</strong></a>
            </div>
        </div>
    </div>
</footer>


<!-- FLOATING PRINT RESUME SECTION -->

<section id="contact-float" class="resume navbar-fixed-bottom">
    <div class="container">
        <div class="row">
            <div class="col">
                <a href="../web/viewer.html?file=Resume.pdf" class="btn btn-primary btn-small mb-3 p-3 float-right"><i
                        class="fa fa-file"></i> View Resume</a>
            </div>
        </div>
    </div>
</section>


<!-- The Modal -->
<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header text-center">
                <h4 class="modal-title ">Connect With Me</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="container">
                    <div class="row ">
                        <div class="col">
                            <form>
                                <input required type="text" class="form-control mb-2" placeholder="Name"
                                    ng-model="hc.name">
                                <input required type="email" class="form-control mb-2" placeholder="Email"
                                    ng-model="hc.email">
                                <textarea required name="" id="" cols="30" rows="10" class="form-control mb-3"
                                    placeholder="Message..." ng-model="hc.message"></textarea>
                                <button class="btn btn-outline-danger form-control" ng-click="hc.send()"><i
                                        class="far fa-paper-plane"></i> Send</button>
                            </form>

                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>


<script>
    $(document).ready(function () {

        $(function () {
            $('#toggle-one').bootstrapToggle();
        });



        let inverse = true;

        $('#navbar2').hide();
        $(".intro-text").hide();
        $(".intro-text").fadeIn("slow");

        //inverses colors
        $("#inverse").on("click", () => {

            if (inverse) {
                inverse = false;
                $("body").css({
                    "filter": "invert(100%)"
                })
            }
            else {
                inverse = true;
                $("body").css({
                    "filter": "invert(0%)"
                })
            }


        });

        //toggles navbar when out of header
        $(window).scroll(function () {
            if ($(this).scrollTop() >= 700) {
                $('#navbar').hide();
                $('#navbar2').fadeIn();
            } else {
                $('#navbar2').hide();
                $('#navbar').show();
            }
        });




    })
</script>